.header {
    background-color: #ecf2f8;
    height: 80px;
    padding: 15px;
}
.headerline {
    background-color: #3973ac;
    height: 10px;
}
.hangman {
    margin: auto;
    width: 250px;
    vertical-align: middle;
}

#game {
    display: none;
}
#reset_form {
    display: none;
}