			body.not-logged-in #guess_form {
				display: none;
			}
			body.logged-in #login_form {
				display: none;
			}
			#retry_button {
				text-align: center;
				margin: auto;
				width: 250px;
				display: none;
			}
			.positioning {
				width: 95%;
				margin: auto;
			}
			.content {
				margin: auto;
				padding: 10px;
			}	
			.left {
				width: 70%;
				display: table-cell;
			}
			.right {
				display: none;
                                //display: table-cell;
			}
			.header {
				background-color: #ecf2f8;
				height: 80px;
				padding: 15px;
				width: 100%;
			}
			.headerline {
				background-color: #3973ac; 
				height: 10px;
			}
			.hangman {
				margin: auto;
				width: 170px;
			}	
			#usedletters{
				text-transform: uppercase;
			}